*{
    overflow: hidden;
    --success-color       : rgb(46, 204, 113);
    box-sizing: border-box;
}
.logContainer{
    height: 100vh;  
}
.row{
    display: flex;
    align-items: center;
    height: 100%;
}
.column-image{
    width: 50%;
}
.column-form{
    /* background:yellow; */
    margin-top:-20% ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form {
    margin: 0 auto;
    width: 60%;
    padding: 0rem 0rem;
    overflow: hidden;
  }
  .form-title{
    font-size: 30px;
    font-weight: bold;
    color:rgb(35, 122, 71) ;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .input-field {
     padding: 10px 0;
  }
  .input-field input{
      border-radius: 5px;
      margin-top: 5px;
      padding: 8px;
      width: 100%;
      outline: none;
      border: none;
      position: relative;
      outline: none;
      padding: 12px 20px 12px 20px;
      background: #eee;
  }
    /* For Input Autofill */
    .input-field input:-webkit-autofill,
    .input-field input:-webkit-autofill:hover, 
    .input-field input:-webkit-autofill:focus, 
    .input-field input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      box-shadow: 0 0 0 30px white inset !important;
      background: transparent;
    }
  .input-field label{
      font-size: 14px;
      font-weight: 400;
      color:  rgb(184, 180, 180); 
  }
 
 /* Form Actions */
 #form .form__actions{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  /* Next Label And Next Div */
  #form  .form__actions > label:hover,
  #form  .form__actions > div:hover{
    opacity: 0.7;
  }
  /* Remeber Me And Input */
  .form__actions .remeber_me,
  .form__actions .remeber_me input{  
    position: relative;
    cursor: pointer;
    font-size: 15px;
    color: rgb(184, 180, 180);
  }
  /* Input And Checkmark box */
  .form__actions .remeber_me input,
  .form__actions .remeber_me .checkmark{
    width: 20px;
    height: 20px;
    top: 5px;
  }
  .form__actions .remeber_me input{
    opacity: 0;
    z-index: 2;
  }
  .form__actions .remeber_me .checkmark{
    position: absolute;
    left: 0;
    border: 2px solid rgb(184, 180, 180); 
    border-radius: 3px;
    z-index: 1;
  }
  /* Create Check Mark */
  .form__actions .remeber_me .checkmark::after{
    content: "";
    position: absolute;
    opacity: 0;
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid rgb(46, 204, 113);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    transition: 0.3s ease-in-out;
  }
  /* When Input Checkbox Is Checked */
  .form__actions .remeber_me input:checked ~ .checkmark ~ span{
    color:rgb(46, 204, 113);
  }
  .form__actions .remeber_me input:checked ~ .checkmark{
    border-color:rgb(46, 204, 113);
  }
  .form__actions .remeber_me input:checked ~ .checkmark::after{
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  /* Forgot Password */
  .form__actions .forgot_password{
    position: relative;
    top: 4px;
    cursor: pointer;
    font-size: 15px;
    color:rgb(46, 204, 113);
    transition: 0.3s ease-in-out;
    font-weight: 550;
  }
  button.submit-button{
    position: relative;
    width: 150px;
    background-color:rgb(35, 122, 71);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    outline: none;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    text-transform: uppercase;
  }
  .sign-up__form button.submit-button{ /* Sign Up Submit Button */
    margin-top: 25px;
  }
  button.submit-button:hover{
    opacity: 0.8;
  }
  button.submit-button:active{
    opacity: 1;
  }
  /* image */
  .image{
        width: 100%;
        object-fit: cover;
  }